#images_fields {
    padding-top: 10px;
}

#images_fields .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    margin-right: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 85px;
    height: 110px;
    float:left;
}

#images_fields .thumbnail > a {
    border-bottom: none;
}

#images_fields .thumbnail > img, #images_fields .thumbnail a > img {
    width: 80px;
    height: 80px;
}

#images_fields .thumbnail .caption {
}

#images_fields .thumbnail:hover, #images_fields .thumbnail:focus, #images_fields .thumbnail.active {
   border-color: #23527c;
}
